@charset "utf-8";
/* CSS Document */
.body{
	background-color: light-blue lighten-3;
}


.background{
	
	width: 100%;
	filter:saturate(50%);
}

.barra-superior{
	
	width: 100%;
	min-height: 7rem;
}

.logo{
	
	width: 20%;
	margin-top: 5%;
	margin-left: 3%;
}

.Boton{
	
	float: right;
	margin-top: 5%;
	margin-right: 5%;
}


.left-sidebar{
	position: absolute;
	top: 30%;
	z-index: 999;
}

.left-sidebar ul{
	border: none;
}

.left-sidebar i.fa{
	padding: 8px;
	font-size: 25px;
	color: beige;
}


.left-sidebar li{
	width: 80px;
	transition: 5s;
	
}
.left-sidebar li:nth-child(1){
	background: #3b5999;
	
}
	

.left-sidebar li:nth-child(2){
	background: #55acee;
	
}
.left-sidebar li:nth-child(3){
	background: #e4405f;
	
}
.left-sidebar li:nth-child(4){
	background: #bd081c;
	
}
.left-sidebar li:nth-child(5){
	background: #00E676;
	
}
.left-sidebar li:nth-child(6){
	background: #cd201f;
	
}

.left-sidebar li:hover{
	width: 150px;
}


.box{
	height: 600px;
	margin-top: 30%;
	
}


.container{
	margin-top: 30%;
	z-index: 999px;
}
.imagenes-viaje{
	top: 50%;
	margin: 0 auto;
}
.imagen{
	position: absolute;
	width: 30%;
	top: 31%;
	left:7%; 
	

}
.imagen2{
	position: absolute;
	width: 30%;
	top: 95%;
	left:7%; 
	

}
.imagen3{
	position: absolute;
	width:30%;
	top: 31%;
	left:38%; 
	

}


.imagen4{
	position: absolute;
	width:30%;
	top: 31%;
	left:69%; 
	

}

.imagen5{
	position: absolute;
	width:30%;
	top: 80%;
	left:69%; 
	

}

.container-color{
	
	background-color: red;
	height: 300px;
	top: 10%;
	
	
}




.bauhaus{
	position: absolute;
	top: 180%;
	left: 20%;
}

.cuadrado img{
	
	width: 20%;
	left: 20px;
	top: 20px;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.cuadrado p{
	margin-top: 15%;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 12px;
}
.cuadrado{
	position: absolute;
  width: 50%;
  height: 70%;
  background-color: white;
  display: inline-block;
 top: 180%;
	left: 7%;
}

.cuadro-2{
	position: absolute;
	width: 12%;
	height: 6%;
	background-color: #BFBFBF;
	top: 188%;
	left: 20%;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cuadro-3{
	position: absolute;
	width: 15%;
	height:6%;
	background-color: #BFBFBF;
	top: 188%;
	left: 33%;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.comentario{
	
	
	width: 100%;
	max-width: 1000px;
}



.cuadrado-autor{
	position: absolute;
  width: 30%;
  height: 60%;
  background-color: white;
  display: inline-block;
 top: 180%;
	left: 60%;
}

.cuadrado-autor img{
	
	width: 30%;
	left: 10%;
	top: 10%;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.cuadrado-autor h4{
	position: absolute;
	left: 40%;
	top: 1%;
}

.cuadrado-autor p{
	
	margin-top: 15%;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 12px;
	
}

.comentario01{
	position: absolute;
	width: 100%;
	max-height: 1000px;
	
	
}



@media only screen and (max-width: 1200px) {

	
	
}