@charset "utf-8";
/* CSS Document */
.body{
	background-color: light-blue lighten-3;
}


.background{
	
	width: 100%;
	filter:saturate(50%);
}

.barra-superior{
	
	width: 100%;
	min-height: 7rem;
}

.logo{
	
	width: 20%;
	margin-top: 5%;
	margin-left: 3%;
}

.Boton{
	
	float: right;
	margin-top: 5%;
	margin-right: 5%;
}


.left-sidebar{
	position: fixed;
	top: 30%;
	z-index: 999;
}

.left-sidebar ul{
	border: none;
}

.left-sidebar i.fa{
	padding: 8px;
	font-size: 25px;
	color: beige;
}


.left-sidebar li{
	width: 80px;
	transition: 5s;
	
}
.left-sidebar li:nth-child(1){
	background: #3b5999;
	
}
	

.left-sidebar li:nth-child(2){
	background: #55acee;
	
}
.left-sidebar li:nth-child(3){
	background: #e4405f;
	
}
.left-sidebar li:nth-child(4){
	background: #bd081c;
	
}
.left-sidebar li:nth-child(5){
	background: #00E676;
	
}
.left-sidebar li:nth-child(6){
	background: #cd201f;
	
}

.left-sidebar li:hover{
	width: 150px;
}


.box{
	height: 600px;
	margin-top: 30%;
	
}


.container{
	margin-top: 30%;
	z-index: 999px;
}
.imagenes-viaje{
	top: 50%;
	margin: 0 auto;
}
.imagen{
	position: absolute;
	width: 30%;
	top: 31%;
	left:7%; 
	

}
.imagen2{
	position: absolute;
	width: 30%;
	top: 95%;
	left:7%; 
	

}
.imagen3{
	position: absolute;
	width:30%;
	top: 31%;
	left:38%; 
	

}


.imagen4{
	position: absolute;
	width:30%;
	top: 31%;
	left:69%; 
	

}

.imagen5{
	position: absolute;
	width:30%;
	top: 80%;
	left:69%; 
	

}

.container-color{
	
	background-color: red;
	height: 300px;
	top: 10%;
	
	
}


.imagen7{
	position: absolute;
	width: 15%;
	left: 20%;
	top: 180%;
}

div[class*="bloque"]{
  height:10%;
	left: 20%;
	
}







